%h1.m-3 Posts all

- if @posts.any?
  %table.table
    %thead
      %tr
        %th{scope: "col"}
          Title
        %th{scope: "col"}
          Body
    %tbody
      - @posts.each do |post|
        %tr
          %td
            = post.title
          %td
            = post.body
- else
  %p まだ投稿がありません。

= link_to "New Post", new_post_path, class: "btn btn-primary"